.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu-list {
    width: 24px;
    height: 24px;
    background-image: url("/assets/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked~.menu-list {
    display: block;
}

.container__button:checked ~ .container__label {
    background: var(--gradient-blue);
}

.container__button:checked ~ .container__label > .header__menu-list {
    background-image: url(/assets/Menu\ Aberto.svg);
}

.menu-list__title,
.menu-list__item {
    padding: 1em;
    background-color: var(--white);
}

.menu-list__title {
    color: var(--orange);
    font-weight: 700;
}

.menu-list__link {
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__button, .container__title, .navbar, .container__txt {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__title,
    .container__title--bold {
        font-family: var(--secundary-font);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: block;
    }

    .container__title--bold {
        font-weight: 700;
    }

    .navbar {
        display: flex;
    }
    
    .navbar__button:checked~.menu-list {
        display: block;
        width: auto;
    }

    .navbar__button:checked~.navbar__label>.navbar__item {
        background: var(--gradient-blue);
        color: var(--white);
    }

    .menu-list__item:hover {
        background: var(--gradient-blue);
    }

    .menu-list__item:hover>.menu-list__link {
        -webkit-text-fill-color: var(--white);
        text-decoration: none;
    }

    .navbar__item {
        padding: 2em 1em;
    }

    .navbar__link {
        text-decoration: none;
        color: var(--black);
    }

    .container__img-transparent, .header__menu-list,  .navbar__button {
        display: none;
    }

    
}

@media screen and (min-width: 1728px) {
    .header {
        padding: 0 2em;
    }

    .navbar {
        margin-right: auto;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .container__txt {
        display: block;
    }
}
