.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header__background-color);
    padding: 1em 1em 1em 0;
    position: relative;
}

.header__menu-icon_logo-icon {
    display: flex;
    align-items: center;
    gap: 1em;
}

.checkbox_menu-list {
    display: none;
}

.checkbox_menu-list:checked~.header__menu-list_viewOnclick {
    display: block;
} 

.header__menu-list_viewOnclick {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.menu-list_viewOnclick__list-title, .menu-list_viewOnclick__list-item {
    padding: 1em;
    background-color: var(--menu-list__background-color);
    
}

.menu-list_viewOnclick__list-title {
    color: var(--title-menu-list__font-color);
    font-weight: 700;
}

.menu-list_viewOnclick__ancor-item {
    text-decoration: none;
    text-transform: uppercase;
}

.menu-list_viewOnclick__list-item {
    color: var(--item-menu-list__font-color);
}

.header__displayNameCompany {
    display: none;
}

.header__navbar {
    display: none;
}

.header__fav-icon_bag-icon_user-icon {
    display: flex;
    align-items: center;
    gap: 1em;   
}

/* Media Query */

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-around;
    }

    .header__displayImgMenu {
        display: none;
    }

    .header__displayNameCompany {
        display: block;
    }

    .header__navbar {
        display: flex;
        align-items: center;
        gap: 50px;
        color: var(--navbar-item__color);
        text-transform: uppercase;
        font-weight: 500;
    }

    .header__fav-icon_bag-icon_user-icon{
        gap: 40px;
    }

    .header__icon-fav {
        display: none;
    }

    .navbar__button:checked ~ .header__menu-list_viewOnclick {
        display: block;
        width: auto;
    }

    .navbar__button {
        display: none;
    }
}

