.topics {
    background-color: var(--topics-section__background-color);
    text-align: center;
    padding: 1em 0;
}

.topics__title {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--topics-title_color);
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;
}

.topics__link {
    text-decoration: none;
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--topics-link_background_color);
    color: var(--topics-link_color);
}

/* Media Query */

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 24px;
        margin: 2% 0;
    }

    .topics__item {
        padding: 1em;
        margin: 2em 2em;
    }

    .topics__link {
        font-size: 24px;
        padding: 1.5em 2em;
    }
}